:root {
  --color-background: #ffffff;
  --color-background-soft: #f8fafc;
  --color-border: #e2e8f0;
  --color-border-hover: #4f46e5;
  --color-heading: #1e293b;
  --color-text: #475569;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-button-text: #ffffff;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-warning: #f59e0b;
  --color-warning-hover: #d97706;
  --color-warning-text: #000;
}

:root.dark {
  --color-background: #0f172a;
  --color-background-soft: #1e293b;
  --color-border: #334155;
  --color-border-hover: #6366f1;
  --color-heading: #f8fafc;
  --color-text: #cbd5e1;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
}
